<div class="footer__block layoutBlock">
    <nav class="footer__nav">
        <ul class="footer__ul">
            <li class="footer__li"><a href="index.html">HOME</a></li>
            <li class="footer__li"><a href="services.html">SERVICIOS</a></li>
            <li class="footer__li"><a href="destination.html">DESTINOS</a></li>
            <li class="footer__li"><a href="offer.html">OFERTAS</a></li>
            <li class="footer__li"><a href="contact.html">CONTACTO</a></li>
        </ul>
    </nav>
    <div class="footer__logo">
        <img src="../assets/IconoRodante.png" alt="Logo Rodante">
    </div>
    <div class="footer__legal">
        <span class="legal--content">© 2024 Rodante. Derechos reservados</span>
    </div>