<div class="header__block layoutBlock">
    <div class="header__logo">
        <img src="../assets/LogoRodante.png" alt="Logo Rodante">    
    </div>
    <nav class="header__nav">
        <ul class="header__ul">
            <li class="header__li"><a href="index.html">HOME</a></li>
            <li class="header__li"><a href="services.html">SERVICIOS</a></li>
            <li class="header__li"><a href="destination.html">DESTINOS</a></li>
            <li class="header__li"><a href="offer.html">OFERTAS</a></li>
            <li class="header__li"><a href="contact.html">CONTACTO</a></li>
        </ul>
    </nav>
    <a href="contact.html" class="btn--black btn--header">Reserva tu viaje</a>
    <button id=openMenu class="header__navPopup">
        <svg width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 20 20"> <use href="assets/icons.svg#header"></use> </svg>
    </button>
</div>